section#main header#header {
  width: calc( 100% - 50px );
  height: 29px;
  padding: 25px;
  background: #FFF;
  border-bottom: 1px solid #E6E6E6;
  vertical-align: bottom
}

section#main header#header div#title {
  font-size: 25px;
  height: 25px;
  line-height: 25px;
  float: left;
}

section#main header#header div.menu {
  float: left;
  height: 30px;
  font-size: 15px;
  margin-left: 25px;
  line-height: 30px;
}

section#main header#header div#github {
  float: right;
  width: 40px;
  height: 40px;
}

section#main header#header div#github img {
  width: 100%;
  height: 100%;
  margin-top: -5px;
}

section#main div#screen {
  width: 100%;
  height: 403px;
  background: #F0F2F3;
  border: 1px solid #E6E6E6;
}

section#main div#screen div#keywords {
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
}

section#main div#screen div#button {
  width: 223px;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  border: 1px solid #3471D9;
  padding: 14px 23px;
  background: #4885ED;
  margin: 20px auto 0 auto;
  color: #FFF;
  font-size: 20px;
  -webkit-transition: 0.3s ease;
}

section#main div#screen div#button:hover {
  background: #3471D9;
}

section#main div#screen div#image {
  text-align: center;
  margin-top: 50px;
}

section#main div#screen div#image img {
  width: 725px;
}

section#main div#footer {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#input {
  margin-top: 25px;
  text-align: center;
}

textarea#email {
  text-align: center;
  width: 185px;
  padding: 0 25px;
  padding-top: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #646464;
  font-family: 'Helvetica Neue', sans-serif;
  resize: none;
  margin: 0 auto;
  height: 23px;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  line-height: 15px;
  -webkit-transition: 0.3s ease;
}

textarea#email:focus {
  outline: 0;
  width: 300px;
}

textarea#email::-webkit-input-placeholder {
  color: #C8C8C8;
  text-align: center;
}
